
@import url(https://jaywilson7.github.io/BorderShapes/Source/base.css);
@import "https://nyri4.github.io/Discolored/main.css";
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

:root {
   --borders-buttons-rounded: 10px; /*Border shapes for rounded buttons. 25px for circle, 0px for square*/
   --borders-buttons-circle: 10px; /*Border shapes for circle buttons. 25px for circle, 0px for square*/
   --borders-switches: 10px; /*Border shapes for switches. 15px for circle, 0px for square*/
   --borders-checkboxes: 10%; /*Border shapes for checkboxes. 50% for circle, 0% for square*/
   --borders-slider-bars: 10px; /*Border shapes for slider bars. 5px for circle, 0px for square*/
   --borders-slider-grabbers: 10px; /*Border shapes for slider grabbers. 8px for circle, 0px for square*/
   --borders-progress-bars: 10px; /*Border shapes for progress bars. 5px for circle, 0px for square*/
   --borders-inputs: 10px; /*Border shapes for inputs. 25px for circle, 0px for square*/
   --borders-contexts: 10px; /*Border shapes for context menus. 25px for circle, 0px for square*/
   --borders-popouts: 10px; /*Border shapes for popouts. 25px for circle, 0px for square*/
   --borders-modals: 10px; /*Border shapes for modals. 25px for circle, 0px for square*/
   --borders-cards: 10px; /*Border shapes for cards. 25px for circle, 0px for square*/
   --borders-media: 10px; /*Border shapes for images, videos, audios and gifs. 25px for circle, 0px for square*/
   --borders-previews: 10px; /*Border shapes for previews. 25px for circle, 0px for square*/
   --borders-servers-default: 10%; /*Border shapes for server icons and circle buttons on server side. 50% for circle, 0% for square*/
   --borders-servers-interactive: 10%; /*Border shapes for hovered or selected elements mentioned in previous description. 50% for circle, 0% for square*/
   --borders-folders: 10px; /*Border shapes for server folders. 35px for circle, 0px for square*/
   --borders-avatars: 10%; /*Border shapes for avatars. 50% for circle, 0% for square*/
   --borders-icons-default: 10%; /*Border shapes for icons that have width equal height. 50% for circle, 0% for square*/
   --borders-icons-wide: 10px; /*Border shapes for icons that have more width than height. 5px for circle, 0px for square*/
   --borders-labels-large: 10px; /*Border shapes for large text and number indicators. 15px for circle, 0px for square*/
   --borders-labels-small: 10px; /*Border shapes for small text and number indicators. 10px for circle, 0px for square*/
   --borders-pills: 10px; /*Border shapes for unread badges and selected server pills. 5px for circle, 0px for square*/
   --borders-lines: 10px; /*Border shapes for lines when you drag categories or channels. 2px for circle, 0px for square*/
   --borders-role-outlines: 10px; /*Border shapes for roles outlines. 10px for circle, 0px for square*/
   --borders-role-dots: 10px; /*Border shapes for roles dots. 10px for circle, 0px for square*/
   --borders-messages: 10px; /*Border shapes for hovered or highlighted messages. 25px for circle, 0px for square*/
   --borders-mentions: 10px; /*Border shapes for mentions. 10px for circle, 0px for square*/
   --borders-reactions: 10px; /*Border shapes for reactions. 10px for circle, 0px for square*/
   --borders-codes: 10px; /*Border shapes for codes and codeblocks. 10px for circle, 0px for square*/
   --borders-embeds: 10px; /*Border shapes for embeds. 25px for circle, 0px for square*/
   --borders-replies: 10px; /*Shape for top left replies border. 15px for circle, 0px for square*/
   --borders-quotes: 10px; /*Border shapes for quote icon. 2px for circle, 0px for square*/
   --borders-spoilers: 10px; /*Border shapes for spoilers. 10px for circle, 0px for square*/
   --borders-tooltips: 10px; /*Border shapes for tooltips. 25px for circle, 0px for square*/
   --borders-scrollbars: 10px; /*Border shapes for scrollbars. 10px for circle, 0px for square*/
   --borders-sidebar-and-notices: 10px; /*Shape for top left sidebar and notices border. 25px for circle, 0px for square*/
   --borders-navigation-highlight: 10px; /*Border shapes for navigation highlight when you press TAB. 25px for circle, 0px for square*/
   --borders-toasts: 10px; /*Border shapes for toasts. 25px for circle, 0px for square*/
   --borders-code-editors: 10px; /*Border shapes for code editors workspace. 10px for circle, 0px for square*/
  --settingsicons: 1;						/*	Use Settings Icons in User/Server/Channel Settings: 1 = yes, 0 = no			*/
}